.introduction {
  margin-top: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 5% 50%;
}

.introduction h1, .introduction h2, .introduction p {
  text-align: center;
  line-height: 1.5;
}

.introduction .summary {
  padding: 16px;
}

.introduction hr {
  border: 1px solid gray;
  width: 0;
  height: 90%;
}

.introduction li {
  margin-bottom: 15px;
  font-size: 1.3em;
}

.introduction p {
  font-size: 1.2em;
}

@media screen and (max-width: 980px) {
  .introduction {
    display: block;
  }

  .introduction hr {
    height: 0;
    width: 95%;
    margin: 2em auto;
  }

  .introduction ul {
    padding: 16px;
  }

  .introduction li {
    margin-bottom: 1.5em;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  .introduction li {
    font-size: 1.1em;
  }

  .introduction p {
    text-align: left;
  }
}

.site-navigation article {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 1em auto;
  width: 80%;
}

.site-navigation article h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.5em;
  line-height: 1.5;
}

.site-navigation h1 {
  text-align: center;
}

.site-navigation {
  font-size: 1.3rem;
}

.site-navigation .navigation-icon {
  font-size: 2rem;
}

.site-navigation p {
  margin-top: 1.5em;
  line-height: 1.5;
}

.site-navigation .learn-more {
  font-size: 1.4rem;
}