.highlights {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 1.5em;
}

.project {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid gray;
  border-radius: 10px;
  min-height: 550px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (max-width: 1435px) {
  .project {
    min-height: 650px;
  }
}

@media screen and (max-width: 1225px) {
  .project {
    min-height: 750px;
  }
}

.project .theme-accent-background {
  box-shadow: none;
}

.project .project-intro {
  border-right: 3px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project .project-intro {
  order: 1;
}

.project .project-summary {
  order: 2;
}

.project .project-intro .project-image {
  background-size: cover;
  height: 80%;
  background-position: center;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  border-top-left-radius: 10px;
}

.project .project-intro .project-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project .project-intro .project-links li {
  margin-bottom: 1.5em;
}

.project .project-intro .project-links a {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
}

.react-ecommerce {
  background-image: url('/assets/images/react-ecommerce-project-highlight.jpg');
}

.vue-flashcards {
  background-image: url('/assets/images/vue-flashcards-project-highlight.jpg');
}

.quiz-world {
  background-image: url('/assets/images/quiz-world-project-highlight.jpg');
}

.project .project-intro .project-image.quiz-world {
  background-position: left;
}

.project-summary {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.project-summary h3 {
  text-align: left;
  margin: 0;
  color: var(--text-emphasis-dark);
  padding: 8px;
  font-size: 1.6rem;
}

.project-summary h4 {
  color: white; /* Mostly to quiet WCAG extension down for failing contrast */
}

.project-summary .review {
  background-color: var(--primary);
  border-top-right-radius: 10px;
  padding: 4px 16px;
}

.project-summary .technology-chips {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1.5em;
}

.project-summary .technology-chips .technology-chip {
  background-color: #a8a8a8;
  width: 125px;
  text-align: center;
  border-radius: 50px;
  padding: 8px;
}

.project-summary p {
  font-size: 1.3rem;
  padding: 16px;
  line-height: 1.5;
}

.mobile-background {
  display: none;
}

@media screen and (max-width: 950px) {
  .project .project-intro .project-image {
    display: none;
    height: 0;
    background-size: 0;
  }

  .project {
    display: flex;
    flex-direction: column;
  }
  
  .project .project-summary {
    order: 1;
  }

  .project .review, .project .project-summary {
    border-top-left-radius: 10px;
  }

  .mobile-background {
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
  }

  .mobile-background.quiz-world {
    background-position: left;
  }

  .project .project-intro .project-links {
    border-top: 1px solid gray;
    padding-top: 8px;
  }

  .project .review h3 {
    text-align: center;
  }

  .project-summary .technology-chips {
    justify-content: center;
  }

  .project-summary p {
    font-size: 1.3rem;
  }

  .project .project-intro {
    border-right: none;
  }
}