---
import GearIcon from "../../icons/GearIcon.astro";
---

<button
  class="group focus-outline cursor-pointer px-6 py-8 flex h-full items-center justify-center"
  aria-label="Open settings menu"
>
  <GearIcon className="fill-on-surface group-hover:fill-primary group-active:opacity-65 motion-safe:transition-colors" size={24} />
</button>
