@import "tailwindcss";

:root {
  --_primary-light: #7843E9;
  --_on-primary-light: #fff;
  --_surface-light: #fff;
  --_on-surface-light: #1a1a1a;
  --_site-bg-light: #f1f1f1;
  --_on-site-bg-light: #2c2c2c;
  --_outline-width-light: 3px;
  --_outline-color-light: blue;

  --_primary-dark: #A48EFF;
  --_on-primary-dark: #1A1A1A;
  --_surface-dark: #23262f;
  --_on-surface-dark: #fafafa;
  --_site-bg-dark: #17181c;
  --_on-site-bg-dark: #e0e0e0;
  --_outline-width-dark: 3px;
  --_outline-color-dark: lightskyblue;

  --_primary-hc: #FFD700;
  --_on-primary-hc: #000;
  --_surface-hc: #fff;
  --_on-surface-hc: #000;
  --_site-bg-hc: #000;
  --_on-site-bg-hc: #fff;
  --_outline-width-hc: 6px;
  --_outline-color-hc: rgb(0, 183, 255);
}

@theme {
  --color-primary: var(--_primary-light);
  --color-on-primary: var(--_on-primary-light);

  --color-surface: var(--_surface-light);
  --color-on-surface: var(--_on-surface-light);

  --color-site-bg: var(--_site-bg-light);
  --color-on-site-bg: var(--_on-site-bg-light);
}

html.theme-dark {
  --color-primary: var(--_primary-dark);
  --color-on-primary: var(--_on-primary-dark);

  --color-surface: var(--_surface-dark);
  --color-on-surface: var(--_on-surface-dark);

  --color-site-bg: var(--_site-bg-dark);
  --color-on-site-bg: var(--_on-site-bg-dark);
}

html.theme-high-contrast {
  --color-primary: var(--_primary-hc);
  --color-on-primary: var(--_on-primary-hc);

  --color-surface: var(--_surface-hc);
  --color-on-surface: var(--_on-surface-hc);

  --color-site-bg: var(--_site-bg-hc);
  --color-on-site-bg: var(--_on-site-bg-hc);
}
