---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h4"> {}

const { class: className, ...props } = Astro.props;
---

<h4 class:list={["font-bold text-lg", className]} {...props}>
  <slot />
</h4>
