:root {
  --theme-animation-duration: 0.7s;
}

body.loaded.animate .animate-background {
  transition: background-color var(--theme-animation-duration);
}

body.loaded.animate .animate-text {
  transition: color var(--theme-animation-duration);
}

body.loaded.animate {
  transition: background-color var(--theme-animation-duration);
}

body.animate {
  scroll-behavior: smooth;
}

body.animate .links {
  transition: left 0.5s;
}

body.animate .settings-menu {
  transition: background-color var(--theme-animation-duration), right 0.5s;
}

body.animate .settings-menu.invisible,
body.animate .nav-menu.invisible .links {
  animation: hide-menu 1s;
}

body.loaded.animate .link-button, body.loaded.animate .close-menu-button {
  transition: background-color 0.3s, color 0.3s;
}

body.animate .nav .links li .link:hover,
body.animate .settings-button:hover,
.body.animate .open-menu-button:hover {
  transition: color 0.2s, background-color 0.2s;
}

body.loaded.animate .overlay {
  transition: background-color 0.5s;
}

.body.loaded.animate .overlay.settings-overlay,
.body.loaded.animate .hide-overlay {
  transition: background-color 0.5s;
}

body.loaded.animate .settings-menu .options-buttons li button {
  transition: background-color 0.1s;
}

body.loaded.animate .themed-svg {
  transition: fill var(--theme-animation-duration);
}

/*
Respect the user's system preferences if script cannot load
to manage the preferences
*/
@media (prefers-reduced-motion: no-preference) {
  .no-script .animate-background {
    transition: background-color var(--theme-animation-duration);
  }

  .no-script .animate-text {
    transition: color var(--theme-animation-duration);
  }

  body.no-script {
    transition: background-color var(--theme-animation-duration);
  }

  .no-script .links {
    transition: left 0.5s;
  }

  .no-script .settings-menu {
    transition: background-color var(--theme-animation-duration), right 0.5s;
  }

  .no-script .settings-menu.closed,
  .no-script .nav-menu.invisible .links, .nav-menu.invisible {
    animation: hide-menu 1s;
  }

  .no-script .link-button, .no-script .close-menu-button {
    transition: background-color 0.3s, color 0.3s;
  }


  .no-script .nav .links li .link:hover,
  .no-script .settings-button:hover,
  .no-script .open-menu-button:hover {
    transition: color 0.2s, background-color 0.2s;
  }

  .no-script .overlay {
    transition: background-color 0.5s;
  }

  .no-script .overlay.settings-overlay,
  .no-script .hide-overlay {
    transition: background-color 0.5s;
  }

  .no-script .settings-menu .options-buttons li button {
    transition: background-color 0.1s;
  }

  .no-script .themed-svg {
    transition: fill var(--theme-animation-duration);
  }
}

@keyframes hide-menu {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}