---
import '../styles/global.css';
import '../styles/system-theme-preferences.scss';
---

<html lang="en" class="theme-system custom-theme">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-site-bg">
		
	</body>
</html>
