---
import "../styles/global.css";
import "../styles/system-theme-preferences.scss";
import "../styles/focus-outline.scss";
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="Valentin Karadzhov | Software engineer and web designer"
  metaDescription="Valentin Karadzhov is a TypeScript and .NET developer, as well as a web designer"
>
  <h1>Test</h1>
</Layout>
