---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="Tech stack and skills | Valentin Karadzhov"
  metaDescription="See what technologies I work with (mostly JavaScript and .NET based ones)"
>
  <h1>Tech stack and skills</h1>
  <div>
    <p>
      Below are listed various technologies (programming languages, libraries,
      frameworks, databases, and others) which I have used at least once in a
      personal or professional project. The list does not include more "minor"
      technologies like component libraries, though such may have been used in
      my projects.
    </p>

    <p>
      The graphics for each technology were taken from <a
        href="https://devicon.dev/"
        target="_blank"
        rel="nofollow">Devicon.dev</a>
    </p>
  </div>
</Layout>
