---
import Heading3 from "../content/Heading3.astro";

interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<section class:list={["flex flex-col gap-4"]}>
  <Heading3>{heading}</Heading3>
  <div class="flex flex-col gap-y-8">
    <slot />
  </div>
</section>
