---
import { MOBILE_MENU_DIALOG_ID } from "../../../common/dialog";
import Drawer from "../../drawer/Drawer.astro";
---

<Drawer side="right" id={MOBILE_MENU_DIALOG_ID}>
  <h1 class="w-40">Hello</h1>
</Drawer>