---
import BurgerMenuIcon from "../../icons/BurgerMenuIcon.astro";


---

<button
  class="group focus-outline cursor-pointer px-6 py-8 flex h-full items-center justify-center"
  aria-label="Open navigation menu"
>
  <BurgerMenuIcon className="stroke-on-surface group-hover:stroke-primary group-active:opacity-65 motion-safe:transition-colors" size={24} />
</button>