@import './components/slide-toggle.css';
@import './components/tooltip.css';

:root {
  --primary: #6635ba;
  --secondary-dark: #1a3eb4;
  --secondary-light: #122b7e;
  --background-light: #e9e4e4;
  --background-dark: #121212;
  --accent-dark: #383838;
  --accent-light: white;
  --text-emphasis-dark: rgba(255, 255, 255, 0.87);
  --text-medium-dark: rgba(255, 255, 255, 0.6);
  --text-emphasis-light: black;
  --text-medium-light: #0e0e0e;
  --theme-animation-duration: 0.7s;
  ---shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 90%;
  margin: 0 auto;
}

.screenreader-text {
  position: absolute;
  left: -999999px;
}

hr {
  width: 90%;
}

.pink {
  color: var(--secondary-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

body.light {
  background-color: var(--background-light);
}

body.dark {
  background-color: var(--background-dark);
}

/* Animations */
@media (prefers-reduced-motion: no-preference) {
  body.loaded .animate-background,
  body.loaded {
    transition: background-color var(--theme-animation-duration);
  }

  body.loaded .animate-text {
    transition: color var(--theme-animation-duration);
  }
}

/* Theming */

body.light,
body.light .theme-background {
  background-color: var(--background-light);
}

body.dark,
body.dark .theme-background {
  background-color: var(--background-dark);
}

.theme-accent-background {
  box-shadow: var(---shadow);
}

body.light .theme-accent-background {
  background-color: var(--accent-light);
}

body.dark .theme-accent-background {
  background-color: var(--accent-dark);
}

body.dark .theme-text-emphasis {
  color: var(--text-emphasis-dark);
}

body.dark .theme-text {
  color: var(--text-medium-dark);
}

body.light .theme-text-emphasis {
  color: var(--text-emphasis-light);
}

body.light .theme-text {
  color: var(--text-medium-light);
}

body.dark .theme-link {
  color: var(--text-emphasis-dark);
}

body.locked {
  position: relative;
  z-index: 1;
  overflow-y: hidden;
}

/* Navigation */
.nav {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.nav .links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.nav .links li {
  display: inline-block;
  padding: 20px 0;
  text-align: center;
}

.nav .links li .link {
  padding: 20px;
  text-decoration: none;
  color: white;
}

.nav .links li .link:hover {
  background-color: white;
  color: goldenrod;
  transition: color 0.2s, background-color 0.2s;
}

.nav .links li.close-menu-list-item {
  display: none;
}

/* Navigation button (for mobile) */
.open-menu-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  display: none;
}

.open-menu-button:hover {
  color: goldenrod;
  background-color: white;
  transition: color 0.2s, background-color 0.2s;
}


@media screen and (max-width: 745px) {

  /* Overlay */
  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s;
    top: 0;
  }

  .hide-overlay {
    background-color: transparent;
    z-index: -1;
    animation: move-overlay-to-the-back 0.6s;
  }

  @keyframes move-overlay-to-the-back {
    from {
      z-index: 2;
    }

    to {
      z-index: -1;
    }
  }

  .nav {
    gap: 30px;
  }

  .links {
    position: absolute;
    left: -1000px;
    text-align: left;
    height: 100vh;
    z-index: 50;
    font-size: 1.2rem;
    overflow-y: auto;
  }

  body.dark .links {
    background-color: var(--accent-dark);
  }

  body.light .links {
    background-color: var(--accent-light);
  }

  @media (prefers-reduced-motion: no-preference) {
    .links {
      transition: left 0.5s;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .links {
      transition: none;
    }
  }

  .links.visible {
    left: 1px;
    width: 60%;
    font-weight: bold;
    align-self: first baseline;
  }

  .links.invisible {
    left: -1000px;
  }

  .links.visible li {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid gray;
    padding: 0;
  }

  .nav .links li.close-menu-list-item {
    display: block;
  }

  button.link {
    background-color: transparent;
    border: none;
    font-weight: bold;
    width: 100%;
  }

  .dark .links.visible li .link {
    color: white;
  }

  .links.visible li .link:hover {
    color: white;
  }

  body.light .links.visible li .link:hover {
    background-color: #d6d1d1;
  }

  body.dark .links.visible li .link:hover {
    background-color: rgba(145, 145, 145, 0.8);
  }

  .links.visible li .link {
    color: black;
    text-align: left;
    display: flex;
    padding: 40px;
  }

  .open-menu-button {
    display: block;
    padding: 15px;
  }
}


/* Footer */
footer.footer {
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: auto;
  gap: 10px;
}

footer.footer h2 {
  color: var(--text-emphasis-dark);
  font-size: 1.2em;
  text-align: center;
  margin-top: 5px;
}

footer.footer a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

footer.footer .icon {
  color: rgba(255, 255, 255, 0.9);
}

footer.footer a:hover {
  text-decoration: underline;
}

footer.footer ul {
  list-style: none;
  padding-left: 0;
}

footer.footer ul li {
  margin-bottom: 1.5em;
  font-size: 1.1em;
}

footer.footer section {
  width: 450px;
  background-color: #7247c2;
  border-radius: 5px;
}

.link-button {
  background-color: var(--secondary-light);
  color: var(--text-emphasis-dark);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s color 0.3s;
}

body.light .link-button {
  background-color: var(--secondary-light);
}

body.dark .link-button {
  background-color: var(--secondary-dark);
}

body.dark .link-button:hover,
body.dark .link-button:focus,
body.light .link-button:hover,
body.light .link-button:focus {
  background-color: #3c57b2;
  transition: background-color 0.3s;
}

.link-button:active,
.link-button:active {
  /* background-color: #556cb7; */
  transition: background-color 0.3s;
  outline: 3px solid #556cb7;
}