@import './components/animations.css';

:root {
  --primary: #6635ba;
  --secondary-dark: #1a3eb4;
  --secondary-light: #122b7e;
  --background-light: #e9e4e4;
  --background-dark: #1f1f1f;
  --accent-dark: #383a3e;
  --accent-light: white;
  --text-emphasis-dark: white;
  --text-medium-dark: #e3e3e3;
  --text-emphasis-light: black;
  --text-medium-light: #0e0e0e;
  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --focus-outline: #69fff0
  ;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 90%;
  margin: 0 auto;
}

.screenreader-text {
  position: absolute;
  left: -999999px;
}

hr {
  width: 90%;
}

.pink {
  color: var(--secondary-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

body {
  background-color: var(--background-light);
}

body.dark {
  background-color: var(--background-dark);
}

/* Theming */

.theme-background {
  background-color: var(--background-light);
}

body.dark .theme-background {
  background-color: var(--background-dark);
}

.theme-accent-background {
  box-shadow: var(--shadow);
}

.theme-accent-background {
  background-color: var(--accent-light);
}

body.dark .theme-accent-background {
  background-color: var(--accent-dark);
}

body.dark .theme-text-emphasis {
  color: var(--text-emphasis-dark);
}

body.dark .theme-text {
  color: var(--text-medium-dark);
}

.theme-text-emphasis {
  color: var(--text-emphasis-light);
}

.theme-text {
  color: var(--text-medium-light);
}

.theme-link:hover {
  text-decoration: none;
}

body.dark .theme-link {
  color: var(--text-emphasis-dark);
}

body.locked {
  position: relative;
  z-index: 1;
}

/* Sections */
.content-section {
  border-radius: 5px;
  padding: 8px 16px;
  margin: 1em auto;
  width: 80%;
}

.content-section p {
  line-height: 1.5;
  font-size: 1.2rem;
}

.content-section p:not(:first-of-type) {
  margin-top: 2.25em;
}

.content-section h2,
.content-section h3,
.content-section h4,
.content-section h5,
.contenct-section h6 {
  line-height: 1.5;
  margin: 0;
  font-size: 1.6em;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .content-section {
    width: 90%;
  }
}

/* Header */
.header {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5em;
}

/* Navigation */
.nav .links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.nav .links li {
  display: inline-block;
  padding: 20px 0;
  text-align: center;
  margin-left: -7px;
}

.nav .links li .link {
  padding: 20px;
  text-decoration: none;
  color: white;
}

.nav .links li .link:hover {
  background-color: white;
  color: goldenrod;
}

.nav .links li.close-menu-list-item {
  display: none;
}

.nav .links .mobile-icon {
  display: none;
}

.nav.mobile {
  display: none;
}

/* Skip link */

.skip-link {
  position: absolute;
  left: -1000px;
  display: block;
  padding: 16px;
  border: 3px solid gray;
}

.skip-link:focus {
  left: 30px;
  top: 60px;
}


/* Navigation button (for mobile) */
.open-menu-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  display: none;
}

.open-menu-button:hover,
.open-menu-button:focus {
  color: goldenrod;
  background-color: white;
}

/* Settings */
.settings-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  height: 100%;
}

.settings-button:hover,
.settings-button:focus {
  color: goldenrod;
  background-color: white;
}

.hide-overlay {
  background-color: transparent;
  z-index: -1;
  animation: move-overlay-to-the-back 6s;
}

.settings-menu {
  position: fixed;
  right: 0;
  top: 0;
  overflow-x: hidden;
  z-index: 3;
  width: 35%;
  height: 100%;
  visibility: visible;
}

@media screen and (max-width: 975px) {
  .settings-menu {
    width: 40%;
  }
}

@media screen and (max-width: 745px) {
  .settings-menu {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .settings-menu {
    width: 90%;
  }
}

.settings-menu.invisible {
  right: -1000px;
  visibility: hidden;
}

.settings-menu hr {
  width: 100%;
  margin: 1.5em 0;
}

.settings-menu .menu-heading {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-bottom: 1.2em;
}

.settings-menu .menu-subheading {
  font-size: 1.5rem;
  text-align: center;
  display: block;
  margin-bottom: 1.25em;
}

.overlay,
.settings-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
}

.overlay.hide-overlay,
.settings-overlay.hide-overlay {
  background-color: transparent;
  z-index: -1;
  animation: move-overlay-to-the-back 0.6s;
}

.settings-menu .options-buttons {
  padding: 0;
  display: flex;
  list-style: none;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
}

.settings-menu .options-buttons li {
  width: 100%;
}

.settings-menu .options-buttons li:not(:last-child) {
  border-right: 1px solid gray;
}

.settings-menu .options-buttons li button {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 16px 8px;
  cursor: pointer;
}

.settings-menu .options-buttons li button:focus-visible {
  outline: 4px solid var(--focus-outline);
}

.settings-menu .options-buttons li button span {
  vertical-align: middle;
}

.settings-menu .options-buttons li:first-child button {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.settings-menu .options-buttons li:last-child button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.settings-menu .options-buttons li button.selected {
  background-color: gray;
}

.settings-menu .options-buttons li button.selected span {
  color: var(--text-emphasis-light);
}

.settings-menu .options-buttons li button:hover {
  background-color: #d6d1d1;
}

body.dark .settings-menu .options-buttons li button:hover span {
  color: var(--text-emphasis-light);
}

@keyframes move-overlay-to-the-back {
  from {
    z-index: 2;
  }

  to {
    z-index: -1;
  }
}

.close-menu-button {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  color: var(--text-emphasis-light);
  text-align: left;
  display: flex;
  padding: 40px;
  gap: 20px;
  align-items: center;
  font-weight: normal;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  margin-top: 1.5em;
}

.dark .close-menu-button {
  color: var(--text-emphasis-dark);
}

.light .close-menu-button {
  color: var(--text-emphasis-light);
}

.light .close-menu-button:hover {
  background-color: #d6d1d1;
}

.dark .close-menu-button:hover {
  background-color: rgba(145, 145, 145, 0.8);
}

.close-menu-button:focus-visible {
  outline: 4px solid var(--focus-outline);
}

@media screen and (max-width: 745px) {
  .nav.desktop {
    display: none;
  }

  .nav.mobile {
    display: block;
    visibility: hidden;
  }

  .content-section h2,
  .content-section h3,
  .content-section h4,
  .content-section h5,
  .contenct-section h6 {
    text-align: center;
  }

  .nav .links .mobile-icon {
    display: inline-block;
    font-size: 1.6rem;
  }

  .links {
    position: fixed;
    left: -1000px;
    text-align: left;
    height: 100vh;
    z-index: 50;
    font-size: 1.2rem;
    overflow-y: auto;
  }

  body.dark .links {
    background-color: var(--accent-dark);
  }

  body.light .links {
    background-color: var(--accent-light);
  }

  .nav-menu.visible .links {
    left: 0;
    width: 60%;
    font-weight: bold;
    align-self: first baseline;
    visibility: visible;
  }

  .nav-menu.invisible {
    visibility: hidden;
  }

  .nav-menu.invisible .links {
    left: -1000px;
    visibility: hidden;
  }

  .nav-menu.visible .links li {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid gray;
    padding: 0;
    margin: 0;
  }

  .nav-menu .links li.close-menu-list-item {
    display: block;
  }

  .nav-menu .links li.close-menu-list-item button:focus-visible {
    outline: 4px solid var(--focus-outline);
  }

  button.link {
    background-color: transparent;
    border: none;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }

  .dark .nav-menu.visible .links li .link {
    color: var(--text-emphasis-dark);
  }

  body.light .nav-menu.visible .links li .link:hover {
    background-color: #d6d1d1;
  }

  body.dark .nav-menu.visible .links li .link:hover {
    background-color: rgba(145, 145, 145, 0.8);
  }

  .nav-menu.visible .links li .link {
    color: var(--text-emphasis-light);
    text-align: left;
    display: flex;
    padding: 40px;
    gap: 20px;
    align-items: center;
    font-weight: normal;
  }

  .open-menu-button {
    display: block;
    padding: 15px;
  }
}

@media screen and (max-width: 500px) {
  .nav-menu.visible .links {
    width: 80%;
  }
}


/* Footer */
footer.footer {
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: auto;
  gap: 10px;
}

footer.footer h2 {
  color: var(--text-emphasis-dark);
  font-size: 1.2em;
  text-align: center;
  margin-top: 5px;
}

footer.footer a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

footer.footer .icon {
  color: rgba(255, 255, 255, 0.9);
}

footer.footer a:hover {
  text-decoration: underline;
}

footer.footer ul {
  list-style: none;
  padding-left: 0;
}

footer.footer ul li {
  margin-bottom: 1.5em;
  font-size: 1.1em;
}

footer.footer section {
  width: 450px;
  background-color: #7247c2;
  border-radius: 5px;
}

.link-button {
  background-color: var(--secondary-light);
  color: var(--text-emphasis-dark);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  padding: 8px 16px;
}

.link-button {
  background-color: var(--secondary-light);
}

body.dark .link-button {
  background-color: var(--secondary-dark);
}

.link-button:hover,
.link-button:focus,
body.dark .link-button:hover,
body.dark .link-button:focus {
  background-color: #3c57b2;
}

.link-button:active,
.link-button:active {
  outline: 3px solid #556cb7;
}

/*
Respect the user's system preferences if script cannot load
to manage the preferences
*/
@media (prefers-color-scheme: dark) {
  body.no-script {
    background-color: var(--background-dark);
  }

  .no-script .theme-background {
    background-color: var(--background-dark);
  }

  .no-script .theme-accent-background {
    background-color: var(--accent-dark);
  }

  .no-script .theme-text-emphasis {
    color: var(--text-emphasis-dark);
  }

  .no-script .theme-text {
    color: var(--text-medium-dark);
  }

  .no-script .link-button {
    background-color: var(--secondary-dark);
  }

  .no-script .theme-link {
    color: var(--text-emphasis-dark);
  }

  .no-script .link-button:hover,
  .no-script .link-button:focus,
  .no-script .link-button:hover,
  .no-script .link-button:focus {
    background-color: #3c57b2;
  }
}